/* About.css */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
    margin-bottom: 180px;
  }
  
  .about-content {
    max-width: 20%;
    margin-bottom: 20px;
    margin-left: 200px;
  }
  
  .about-title {
    font-family: 'Markazi Text';
    color: #f4ce14;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  
  .about-subtitle {
    font-family: 'Markazi Text';
    color: #333;
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
  }
  
  .about-description {
    font-family: 'Karla';
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .about-images {
    position: relative;
    max-width: 40%;
    text-align: center;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-images img {
    width: 65%;
    height: auto;
    border-radius: 16px;
  }
  
  .about-images img:nth-child(2) {
    position: absolute;
    top: 50%;
    right: 50%;
  }